@use 'variaveis';

.header {

    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    left: 0px;
    padding: 0px 1em;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9;
    height: inherit;
    
    &__menu {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        left: 0px;
        padding: 0px 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: all 0.2s ease-in-out 0s;
        will-change: background-color, height;
        height: 72px;
        z-index: 1;
        background-color: #0e0b14;
    }

    &__logo {

        img {
    
            width: 70px;
            margin: 0 auto 10px;
            margin-top: 10px;
        }
    }
}


.header__buttons {

        &__button {
            display: flex;
            height: inherit;
            place-content: center flex-end;
            align-items: center;
            justify-self: flex-end;
            position: absolute;
            top: 0px;
            right: 20px;
            width: 50%;
        }
    }

.button1 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: auto;
    opacity: 1;
    visibility: visible;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 16px;
    white-space: normal;
    max-width: max-content;
    position: relative;
    background: #0072d2;
    color: #f9f9f9;
    border: 0;
    border-radius: 0.25rem;

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
    }
}


.button--outline {
    background: #00000099;
    border: 1px solid #f9f9f9;
    color: #f9f9f9;
    border-radius: 0.25rem;
    margin: 10px;
    
    &:hover {
        background-color: variaveis.$corTextoSecundario;
        color: variaveis.$corDeFundo;
}
}