@use 'variaveis';
@use 'header';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}


body {
    background-color: variaveis.$corDeFundo;
   
}

@mixin title ($fontSize: 40px) {
    @include text ($fontSize);
    color: variaveis.$corTextoSecundario;
}

@mixin text ($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text (15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text (14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text (11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title (26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 6px;
    text-decoration: none;
    padding: 0px 16px;
    letter-spacing: 1.5px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;
    cursor: pointer;
    transition: all .2s ease-in-out 0s;
    opacity: 1;

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 4%);
        }
    }

    &--dark {
        background-color: rgba($color: variaveis.$corDeFundoBotaoDark, $alpha: 0.8);
        border-color: variaveis.$corTextoSecundario;
     
        &:hover {
        background-color: variaveis.$corTextoSecundario;
        color: variaveis.$corDeFundo;
    }

    }

 }

 .main {

    display: block;
    top: 72px;
    display: flex;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    padding: 0 calc(3.5vw + 24px);
    position: fixed;

 }
    .main__details {
        display: flex;
        flex-direction: column;
        padding-bottom: 112px;
        position: fixed;
    }

   .main__details__item {

        left: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        transition: opacity 200ms ease 0s;
        width: 100%;
        z-index: 0;
   }
   
.icone {

        align-items: flex-end;
        display: flex;
        justify-content: flex-start;
        margin: 0px auto;
        min-height: 170px;
        opacity: 0;
        padding-top: 56px;
        padding-bottom: 16px;
        transition: opacity 200ms ease 0s;
        width: 100%;
    img {

        max-width: 341px;
        min-width: 100px;
        width: 35vw;
    }
    }
  
 .imagem {
    background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(26, 29, 41));
    position: absolute;
    inset: 0px;
    
 }


.conteudo {
  
    margin-bottom: 56px;
    z-index: 1;
    

    .conteudo2 {
        max-width: 874px;
    }

    &__item {
       margin:0;
       font-size: 20px;
       color: variaveis.$corTextoSecundario;
       padding-top: 1rem;
       padding-bottom: 1rem;
       font-family: Avenir, sans-serif;
       letter-spacing: -.1px;
       line-height: 1.6;
    }

    &__classificacao {
       
        p {
            margin: 0px 0px 5px;
            font-size: 12px;
            letter-spacing: -.1px;
            line-height: 1.5;
            color: variaveis.$corTextoSecundario;
            
        }

       &__item {

        display: flex;
       
        
        img {
            height: 20px;
            margin-right: 4px;
            border-style: none;
         
        }
        span {
            
            align-items: center;
            margin: 0px 0px 5px;
            font-size: 12px;
            letter-spacing: -.1px;
            line-height: 1.5;
            color: variaveis.$corTextoSecundario;
        }
       }
    }
}

.div-button {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-top: 32px;
    min-height: 56px;

    button {
        background: variaveis.$corDeFundoBotaoPrimario;
        color: variaveis.$corTextoSecundario;
        margin-left: 0px;
        border: 0;
        border-radius: 0.25rem;
        height: 56px;
        margin: 6px 0px;
        padding: 0px 24px;
        cursor: pointer;
        align-items: center;
        font-size: 15px;
        letter-spacing: 1.5px;
        line-height: 1.6;
        outline: none;
        
    
    }
}

.nav__detalhes {
    // background-color: red;
    
    &__detalhes {
        // background-color: red;
    }
}

 
